*{
    margin: 0;
    padding: 0;
}

body{
    width: 1500px;
    display: flex;
}

h1{
    text-align: center;
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 3%;
}
form{
    width: 810px;
    text-align: center;

}
.formulario{
    display: flex;
    flex-direction: column;
    font-size: 45px;
    align-items: start;
    size: 45px;
    margin-left: 70px;

}
.Nombre{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1% 0px 1% 1%;
}
.Nombre input{
    height: 30px;
    width: 555px;
    margin-left: 30px;
}

.emailregistro{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1% 0px 1% 1%;
}
.emailregistro input{
    height: 30px;
    width: 555px;
    margin-left: 30px;
}
.contraseñausuario{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1% 0px 1% 1%;
}
.contraseñausuario input{
    height: 30px;
    width: 555px;
    margin-left: 30px;
}

.bienvenidoabreadspot{
    width: 650px;
    height: 770px;

}
.registroubutton input{
    width: 150px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    margin: 70px 200px 10px 280px;
}
